body {
    -webkit-tap-highlight-color: rgba(0,0,0,5%);
    text-size-adjust: 100%;
    font-size: 16px;
    position: relative;
    word-break: break-all
}

.forward-enter {
    opacity: 0;
    transform: translatex(100%)
}

.forward-enter-active {
    transition: all.3s
}

.forward-enter-active,.forward-exit {
    opacity: 1;
    transform: translatex(0)
}

.forward-exit-active {
    transition: all.3s
}

.back-enter,.forward-exit-active {
    opacity: 0;
    transform: translatex(-100%)
}

.back-enter-active {
    transition: all.3s
}

.back-enter-active,.back-exit {
    opacity: 1;
    transform: translatex(0)
}

.back-exit-active {
    opacity: 0;
    transform: translate(100%);
    transition: all.3s
}

.gpay-card-info-iframe {
    pointer-events: none!important
}
