@layer properties {
    @supports ((-webkit-hyphens: none) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
        *,::backdrop,:after,:before {
            --tw-translate-x:0;
            --tw-translate-y: 0;
            --tw-translate-z: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-scale-z: 1;
            --tw-rotate-x: rotateX(0);
            --tw-rotate-y: rotateY(0);
            --tw-rotate-z: rotateZ(0);
            --tw-skew-x: skewX(0);
            --tw-skew-y: skewY(0);
            --tw-scroll-snap-strictness: proximity;
            --tw-border-style: solid;
            --tw-leading: initial;
            --tw-font-weight: initial;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-color: initial;
            --tw-shadow-alpha: 100%;
            --tw-inset-shadow: 0 0 #0000;
            --tw-inset-shadow-color: initial;
            --tw-inset-shadow-alpha: 100%;
            --tw-ring-color: initial;
            --tw-ring-shadow: 0 0 #0000;
            --tw-inset-ring-color: initial;
            --tw-inset-ring-shadow: 0 0 #0000;
            --tw-ring-inset: initial;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-outline-style: solid;
            --tw-blur: initial;
            --tw-brightness: initial;
            --tw-contrast: initial;
            --tw-grayscale: initial;
            --tw-hue-rotate: initial;
            --tw-invert: initial;
            --tw-opacity: initial;
            --tw-saturate: initial;
            --tw-sepia: initial;
            --tw-drop-shadow: initial;
            --tw-drop-shadow-color: initial;
            --tw-drop-shadow-alpha: 100%;
            --tw-drop-shadow-size: initial;
            --tw-duration: initial;
            --tw-ease: initial
        }
    }
}

@layer theme {
    :host,:root {
        --color-teal-400: #00786f;
        --color-teal-700: #00786f;
        --color-blue-600: #155dfc;
        --color-slate-600: #45556c;
        --color-gray-100: #f6f3f4;
        --color-gray-200: #ebe6e7;
        --color-gray-300: #d1d5dc;
        --color-neutral-100: #f5f5f5;
        --color-neutral-200: #eee;
        --color-neutral-300: #e0e0e0;
        --color-neutral-400: #a1a1a1;
        --color-neutral-800: #262626;
        --color-black: #000;
        --color-white: #fff;
        --spacing: .25rem;
        --breakpoint-md: 48rem;
        --font-weight-light: 300;
        --font-weight-normal: 400;
        --font-weight-medium: 500;
        --font-weight-semibold: 600;
        --font-weight-bold: 700;
        --font-weight-extrabold: 800;
        --leading-snug: 1.375;
        --radius-xs: .125rem;
        --radius-sm: .25rem;
        --radius-md: .375rem;
        --radius-lg: .5rem;
        --radius-xl: .75rem;
        --radius-2xl: 1rem;
        --drop-shadow-xl: 0 9px 7px #0000001a;
        --ease-in: cubic-bezier(.4,0,1,1);
        --ease-out: cubic-bezier(0,0,.2,1);
        --ease-in-out: cubic-bezier(.4,0,.2,1);
        --animate-spin: spin 1s linear infinite;
        --animate-bounce: bounce 1s infinite;
        --default-transition-duration: .15s;
        --default-transition-timing-function: cubic-bezier(.4,0,.2,1);
        --font-secondary: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
        --text-xxs: .625rem;
        --text-xs: .75rem;
        --text-sm: .875rem;
        --text-base: 1rem;
        --text-xl: 1.25rem;
        --text-2xl: 1.5rem;
        --spacing-xxs: .25rem;
        --spacing-xs: .5rem;
        --spacing-sm: .75rem;
        --spacing-md: 1rem;
        --spacing-lg: 1.5rem;
        --spacing-xl: 2rem;
        --color-brand-primary-base: #e3ff34;
        --color-brand-primary-secondary: #d2ef1c;
        --color-brand-primary-container: #f1ff99;
        --color-brand-primary-bg: #fafede;
        --color-brand-secondary-base: #136c72;
        --color-brand-secondary-secondary: #89b5b8;
        --color-brand-secondary-container: #d9ede2;
        --color-brand-secondary-bg: #eef6ef;
        --color-brand-tertiary-base: #262626;
        --color-brand-tertiary-container: #f0f0f0;
        --color-font-primary: #262626;
        --color-font-secondary: #595959;
        --color-font-disabled: #d9d9d9;
        --color-font-overlay: #fff;
        --color-link-default: #136c72;
        --color-link-disabled: #89b5b8;
        --color-error-default: #f6375a;
        --color-error-disabled: #faaebb;
        --color-info-default: #fad511;
        --color-info-disabled: #f9e681;
        --color-info-bg: #fefbe9;
        --color-success-default: #61c630;
        --color-success-bg: #f3faf0;
        --color-surface-primary: #fff;
        --color-surface-tertiary: #f5f5f5;
        --color-surface-quaternary: #f0f0f0;
        --color-line-divider: #f0f0f0;
        --color-neutral-0: #fff;
        --color-neutral-3: #f0f0f0;
        --color-neutral-5: #bfbfbf;
        --color-neutral-6: #8c8c8c;
        --color-neutral-7: #595959;
        --color-neutral-8: #434343;
        --animate-fade-in-bottom: fade-in-bottom .4s ease-out forwards;
        --animate-fade-out-bottom: fade-out-bottom .4s ease-out forwards;
        --animate-slide-in-bottom: slide-in-bottom .4s cubic-bezier(.2,.8,.2,1);
        --animate-slide-in-left: slide-in-left .4s cubic-bezier(.2,.8,.2,1);
        --color-character-primary: #222;
        --color-character-secondary: #666;
        --color-brand-green: #136c72;
        --color-brand-neon-yellow: #d7f32c;
        --color-brand-purple: #591bdc;
        --color-brand-platinum: #d9ede2;
        --color-brand-black: #000;
        --color-brand-gray-500: #a5a5a7;
        --color-brand-gray-100: #eeeef0;
        --color-brand-gray-50: #f8f8f8;
        --color-border-gray-100: #f6f3f4;
        --shadow-card: 0px 16px 32px #0000000a,0px 8px 16px #00000014;
        --height-screen: 100vh,100dvh;
        --z-index-game-iframe: 100;
        --z-index-gbutton: 200;
        --z-index-gbutton-popup: 350;
        --z-index-auxin-popup: 500;
        --z-index-toast: 650;
        --z-index-cs-window: 800;
        --z-index-psp-window: 950;
        --z-index-pwa-prompt: 1000;
        --z-index-user-blocked-notice: 1100;
        --z-index-splash-screen: 1300;
        --z-index-open-with-browser: 1600
    }
}

@layer components,utilities;@layer base {
    *,::backdrop,:after,:before {
        border-color: var(--color-gray-200,currentColor)
    }

    ::file-selector-button {
        border-color: var(--color-gray-200,currentColor)
    }

    * {
        scrollbar-color: auto;
        scrollbar-width: auto
    }
}

.g123App {
    display: block!important
}

.g123App .pointer-events-auto {
    pointer-events: auto
}

.g123App .pointer-events-none {
    pointer-events: none
}

.g123App .\!visible {
    visibility: visible!important
}

.g123App .invisible {
    visibility: hidden
}

.g123App .visible {
    visibility: visible
}

.g123App .sr-only {
    clip: rect(0,0,0,0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.g123App .absolute {
    position: absolute
}

.g123App .fixed {
    position: fixed
}

.g123App .relative {
    position: relative
}

.g123App .static {
    position: static
}

.g123App .inset-0 {
    inset: calc(var(--spacing)*0)
}

.g123App .inset-x-0 {
    inset-inline: calc(var(--spacing)*0)
}

.g123App .-top-1\.5 {
    top: calc(var(--spacing)*-1.5)
}

.g123App .-top-4 {
    top: calc(var(--spacing)*-4)
}

.g123App .-top-6 {
    top: calc(var(--spacing)*-6)
}

.g123App .-top-\[0\.6rem\] {
    top: -.6rem
}

.g123App .top-0 {
    top: calc(var(--spacing)*0)
}

.g123App .top-0\.5 {
    top: calc(var(--spacing)*.5)
}

.g123App .top-1\/2 {
    top: 50%
}

.g123App .top-2 {
    top: calc(var(--spacing)*2)
}

.g123App .top-4 {
    top: calc(var(--spacing)*4)
}

.g123App .top-9 {
    top: calc(var(--spacing)*9)
}

.g123App .top-15 {
    top: calc(var(--spacing)*15)
}

.g123App .top-\[-5px\] {
    top: -5px
}

.g123App .top-\[3px\] {
    top: 3px
}

.g123App .top-\[8px\] {
    top: 8px
}

.g123App .-right-1\.5 {
    right: calc(var(--spacing)*-1.5)
}

.g123App .-right-\[0\.475rem\] {
    right: -.475rem
}

.g123App .right-0 {
    right: calc(var(--spacing)*0)
}

.g123App .right-0\.5 {
    right: calc(var(--spacing)*.5)
}

.g123App .right-4 {
    right: calc(var(--spacing)*4)
}

.g123App .right-\[-1\.125rem\] {
    right: -1.125rem
}

.g123App .right-\[3px\] {
    right: 3px
}

.g123App .right-\[92px\] {
    right: 92px
}

.g123App .right-\[124px\] {
    right: 124px
}

.g123App .right-\[167px\] {
    right: 167px
}

.g123App .right-\[199px\] {
    right: 199px
}

.g123App .-bottom-3 {
    bottom: calc(var(--spacing)*-3)
}

.g123App .bottom-0 {
    bottom: calc(var(--spacing)*0)
}

.g123App .bottom-0\.5 {
    bottom: calc(var(--spacing)*.5)
}

.g123App .bottom-6 {
    bottom: calc(var(--spacing)*6)
}

.g123App .bottom-24 {
    bottom: calc(var(--spacing)*24)
}

.g123App .bottom-\[172px\] {
    bottom: 172px
}

.g123App .-left-1 {
    left: calc(var(--spacing)*-1)
}

.g123App .-left-px {
    left: -1px
}

.g123App .left-0 {
    left: calc(var(--spacing)*0)
}

.g123App .left-0\.5 {
    left: calc(var(--spacing)*.5)
}

.g123App .left-1\/2 {
    left: 50%
}

.g123App .left-\[3px\] {
    left: 3px
}

.g123App .-z-10 {
    z-index: -10
}

.g123App .z-0 {
    z-index: 0
}

.g123App .z-10 {
    z-index: 10
}

.g123App .z-40 {
    z-index: 40
}

.g123App .z-50 {
    z-index: 50
}

.g123App .z-10000 {
    z-index: 10000
}

.g123App .container {
    width: 100%
}

@media (min-width: 40rem) {
    .g123App .container {
        max-width:40rem
    }
}

@media (min-width: 48rem) {
    .g123App .container {
        max-width:48rem
    }
}

@media (min-width: 64rem) {
    .g123App .container {
        max-width:64rem
    }
}

@media (min-width: 80rem) {
    .g123App .container {
        max-width:80rem
    }
}

@media (min-width: 96rem) {
    .g123App .container {
        max-width:96rem
    }
}

.g123App .m-3 {
    margin: calc(var(--spacing)*3)
}

.g123App .m-auto {
    margin: auto
}

.g123App .mx-2 {
    margin-inline:calc(var(--spacing)*2)}

.g123App .mx-\[5px\] {
    margin-inline: 5px
}

.g123App .mx-auto {
    margin-inline:auto}

.g123App .-my-1 {
    margin-block:calc(var(--spacing)*-1)}

.g123App .my-1 {
    margin-block: calc(var(--spacing)*1)
}

.g123App .my-2 {
    margin-block:calc(var(--spacing)*2)}

.g123App .my-4 {
    margin-block: calc(var(--spacing)*4)
}

.g123App .my-\[1\.125rem\] {
    margin-block:1.125rem}

.g123App .-mt-80 {
    margin-top: calc(var(--spacing)*-80)
}

.g123App .mt-1 {
    margin-top: calc(var(--spacing)*1)
}

.g123App .mt-2 {
    margin-top: calc(var(--spacing)*2)
}

.g123App .mt-4 {
    margin-top: calc(var(--spacing)*4)
}

.g123App .mt-6 {
    margin-top: calc(var(--spacing)*6)
}

.g123App .mt-7 {
    margin-top: calc(var(--spacing)*7)
}

.g123App .mt-8 {
    margin-top: calc(var(--spacing)*8)
}

.g123App .mt-10 {
    margin-top: calc(var(--spacing)*10)
}

.g123App .mt-\[0\.186rem\] {
    margin-top: .186rem
}

.g123App .mt-\[24px\] {
    margin-top: 24px
}

.g123App .mt-md {
    margin-top: var(--spacing-md)
}

.g123App .mb-2 {
    margin-bottom: calc(var(--spacing)*2)
}

.g123App .mb-4 {
    margin-bottom: calc(var(--spacing)*4)
}

.g123App .mb-5 {
    margin-bottom: calc(var(--spacing)*5)
}

.g123App .mb-6 {
    margin-bottom: calc(var(--spacing)*6)
}

.g123App .mb-8 {
    margin-bottom: calc(var(--spacing)*8)
}

.g123App .mb-9 {
    margin-bottom: calc(var(--spacing)*9)
}

.g123App .mb-10 {
    margin-bottom: calc(var(--spacing)*10)
}

.g123App .ml-1 {
    margin-left: calc(var(--spacing)*1)
}

.g123App .ml-2 {
    margin-left: calc(var(--spacing)*2)
}

.g123App .box-border {
    box-sizing: border-box
}

.g123App .box-content {
    box-sizing: content-box
}

.g123App .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.g123App .hidden-scrollbar::-webkit-scrollbar {
    display: none
}

.g123App .scrollbar-none {
    scrollbar-width: none
}

.g123App .scrollbar-none::-webkit-scrollbar {
    display: none
}

.g123App .block {
    display: block
}

.g123App .contents {
    display: contents
}

.g123App .flex {
    display: flex
}

.g123App .grid {
    display: grid
}

.g123App .hidden {
    display: none
}

.g123App .inline-block {
    display: inline-block
}

.g123App .inline-flex {
    display: inline-flex
}

.g123App .inline-grid {
    display: inline-grid
}

.g123App .aspect-6\/7 {
    aspect-ratio: 6/7
}

.g123App .aspect-square {
    aspect-ratio: 1
}

.g123App .size-0 {
    height: calc(var(--spacing)*0);
    width: calc(var(--spacing)*0)
}

.g123App .size-3 {
    height: calc(var(--spacing)*3);
    width: calc(var(--spacing)*3)
}

.g123App .size-4 {
    height: calc(var(--spacing)*4);
    width: calc(var(--spacing)*4)
}

.g123App .size-5 {
    height: calc(var(--spacing)*5);
    width: calc(var(--spacing)*5)
}

.g123App .size-6 {
    height: calc(var(--spacing)*6);
    width: calc(var(--spacing)*6)
}

.g123App .size-8 {
    height: calc(var(--spacing)*8);
    width: calc(var(--spacing)*8)
}

.g123App .size-10 {
    height: calc(var(--spacing)*10);
    width: calc(var(--spacing)*10)
}

.g123App .size-12 {
    height: calc(var(--spacing)*12);
    width: calc(var(--spacing)*12)
}

.g123App .size-16 {
    height: calc(var(--spacing)*16);
    width: calc(var(--spacing)*16)
}

.g123App .size-20 {
    height: calc(var(--spacing)*20);
    width: calc(var(--spacing)*20)
}

.g123App .size-\[0\.4375rem\] {
    height: .4375rem;
    width: .4375rem
}

.g123App .size-\[1\.125rem\] {
    height: 1.125rem;
    width: 1.125rem
}

.g123App .size-\[4\.5rem\] {
    height: 4.5rem;
    width: 4.5rem
}

.g123App .size-\[4\.25rem\] {
    height: 4.25rem;
    width: 4.25rem
}

.g123App .size-\[18px\] {
    height: 18px;
    width: 18px
}

.g123App .size-fit {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.g123App .size-full {
    height: 100%;
    width: 100%
}

.g123App .h-0 {
    height: calc(var(--spacing)*0)
}

.g123App .h-1 {
    height: calc(var(--spacing)*1)
}

.g123App .h-2 {
    height: calc(var(--spacing)*2)
}

.g123App .h-3\.5 {
    height: calc(var(--spacing)*3.5)
}

.g123App .h-4 {
    height: calc(var(--spacing)*4)
}

.g123App .h-5 {
    height: calc(var(--spacing)*5)
}

.g123App .h-5\/6 {
    height: 83.3333%
}

.g123App .h-6 {
    height: calc(var(--spacing)*6)
}

.g123App .h-9 {
    height: calc(var(--spacing)*9)
}

.g123App .h-10 {
    height: calc(var(--spacing)*10)
}

.g123App .h-12 {
    height: calc(var(--spacing)*12)
}

.g123App .h-15 {
    height: calc(var(--spacing)*15)
}

.g123App .h-16 {
    height: calc(var(--spacing)*16)
}

.g123App .h-20 {
    height: calc(var(--spacing)*20)
}

.g123App .h-32 {
    height: calc(var(--spacing)*32)
}

.g123App .h-56 {
    height: calc(var(--spacing)*56)
}

.g123App .h-64 {
    height: calc(var(--spacing)*64)
}

.g123App .h-72 {
    height: calc(var(--spacing)*72)
}

.g123App .h-180 {
    height: calc(var(--spacing)*180)
}

.g123App .h-192 {
    height: calc(var(--spacing)*192)
}

.g123App .h-512 {
    height: calc(var(--spacing)*512)
}

.g123App .h-\[4\.5rem\] {
    height: 4.5rem
}

.g123App .h-\[4\.25rem\] {
    height: 4.25rem
}

.g123App .h-\[5\.25rem\] {
    height: 5.25rem
}

.g123App .h-\[6\.3125rem\] {
    height: 6.3125rem
}

.g123App .h-\[28rem\] {
    height: 28rem
}

.g123App .h-\[38rem\] {
    height: 38rem
}

.g123App .h-\[40rem\] {
    height: 40rem
}

.g123App .h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.g123App .h-full {
    height: 100%
}

.g123App .h-screen {
    height: 100vh;
    height: var(--height-screen)
}

.g123App .max-h-96 {
    max-height: calc(var(--spacing)*96)
}

.g123App .max-h-\[40rem\] {
    max-height: 40rem
}

.g123App .max-h-full {
    max-height: 100%
}

.g123App .min-h-6 {
    min-height: calc(var(--spacing)*6)
}

.g123App .min-h-\[667px\] {
    min-height: 667px
}

.g123App .min-h-fit {
    min-height: -moz-fit-content;
    min-height: fit-content
}

.g123App .min-h-screen {
    min-height: 100vh;
    min-height: var(--height-screen)
}

.g123App .\!w-full {
    width: 100%!important
}

.g123App .w-2\/3 {
    width: 66.6667%
}

.g123App .w-5 {
    width: calc(var(--spacing)*5)
}

.g123App .w-7 {
    width: calc(var(--spacing)*7)
}

.g123App .w-9 {
    width: calc(var(--spacing)*9)
}

.g123App .w-10 {
    width: calc(var(--spacing)*10)
}

.g123App .w-11 {
    width: calc(var(--spacing)*11)
}

.g123App .w-12 {
    width: calc(var(--spacing)*12)
}

.g123App .w-15 {
    width: calc(var(--spacing)*15)
}

.g123App .w-16 {
    width: calc(var(--spacing)*16)
}

.g123App .w-24 {
    width: calc(var(--spacing)*24)
}

.g123App .w-32 {
    width: calc(var(--spacing)*32)
}

.g123App .w-48 {
    width: calc(var(--spacing)*48)
}

.g123App .w-56 {
    width: calc(var(--spacing)*56)
}

.g123App .w-64 {
    width: calc(var(--spacing)*64)
}

.g123App .w-72 {
    width: calc(var(--spacing)*72)
}

.g123App .w-96 {
    width: calc(var(--spacing)*96)
}

.g123App .w-180 {
    width: calc(var(--spacing)*180)
}

.g123App .w-192 {
    width: calc(var(--spacing)*192)
}

.g123App .w-512 {
    width: calc(var(--spacing)*512)
}

.g123App .w-\[0\.03125rem\] {
    width: .03125rem
}

.g123App .w-\[5\.25rem\] {
    width: 5.25rem
}

.g123App .w-\[7\.5rem\] {
    width: 7.5rem
}

.g123App .w-\[8\.3125rem\] {
    width: 8.3125rem
}

.g123App .w-\[25rem\] {
    width: 25rem
}

.g123App .w-\[36rem\] {
    width: 36rem
}

.g123App .w-\[68px\] {
    width: 68px
}

.g123App .w-\[88px\] {
    width: 88px
}

.g123App .w-\[90\%\] {
    width: 90%
}

.g123App .w-\[295px\] {
    width: 295px
}

.g123App .w-\[298px\] {
    width: 298px
}

.g123App .w-\[359px\] {
    width: 359px
}

.g123App .w-\[400px\] {
    width: 400px
}

.g123App .w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.g123App .w-full {
    width: 100%
}

.g123App .w-screen {
    width: 100vw
}

.g123App .max-w-\(--breakpoint-md\) {
    max-width: var(--breakpoint-md)
}

.g123App .max-w-80 {
    max-width: calc(var(--spacing)*80)
}

.g123App .max-w-96 {
    max-width: calc(var(--spacing)*96)
}

.g123App .max-w-\[26rem\] {
    max-width: 26rem
}

.g123App .max-w-\[35rem\] {
    max-width: 35rem
}

.g123App .max-w-\[40rem\] {
    max-width: 40rem
}

.g123App .max-w-\[calc\(100\%-3rem\)\] {
    max-width: calc(100% - 3rem)
}

.g123App .max-w-full {
    max-width: 100%
}

.g123App .min-w-20 {
    min-width: calc(var(--spacing)*20)
}

.g123App .min-w-64 {
    min-width: calc(var(--spacing)*64)
}

.g123App .min-w-96 {
    min-width: calc(var(--spacing)*96)
}

.g123App .min-w-\[4\.25rem\] {
    min-width: 4.25rem
}

.g123App .min-w-\[6\.25rem\] {
    min-width: 6.25rem
}

.g123App .min-w-\[7\.5rem\] {
    min-width: 7.5rem
}

.g123App .min-w-\[375px\] {
    min-width: 375px
}

.g123App .flex-1 {
    flex: 1
}

.g123App .flex-none {
    flex: none
}

.g123App .shrink {
    flex-shrink: 1
}

.g123App .shrink-0 {
    flex-shrink: 0
}

.g123App .grow {
    flex-grow: 1
}

.g123App .grow-0 {
    flex-grow: 0
}

.g123App .basis-0 {
    flex-basis: calc(var(--spacing)*0)
}

.g123App .basis-1\/3 {
    flex-basis: 33.3333%
}

.g123App .basis-24 {
    flex-basis: calc(var(--spacing)*24)
}

.g123App .-translate-x-1\/2 {
    --tw-translate-x: -50%;
    translate: var(--tw-translate-x)var(--tw-translate-y)
}

.g123App .translate-x-1\/2 {
    --tw-translate-x: 50%;
    translate: var(--tw-translate-x)var(--tw-translate-y)
}

.g123App .-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.g123App .-translate-y-1\/2,.g123App .translate-y-0 {
    translate: var(--tw-translate-x)var(--tw-translate-y)
}

.g123App .translate-y-0 {
    --tw-translate-y: calc(var(--spacing)*0)
}

.g123App .translate-y-full {
    --tw-translate-y: 100%;
    translate: var(--tw-translate-x)var(--tw-translate-y)
}

.g123App .scale-2 {
    --tw-scale-x: 2%;
    --tw-scale-y: 2%;
    --tw-scale-z: 2%
}

.g123App .scale-2,.g123App .scale-50 {
    scale: var(--tw-scale-x)var(--tw-scale-y)
}

.g123App .scale-50 {
    --tw-scale-x: 50%;
    --tw-scale-y: 50%;
    --tw-scale-z: 50%
}

.g123App .scale-50\! {
    --tw-scale-x: 50%!important;
    --tw-scale-y: 50%!important;
    --tw-scale-z: 50%!important;
    scale: var(--tw-scale-x)var(--tw-scale-y)!important
}

.g123App .scale-60 {
    --tw-scale-x: 60%;
    --tw-scale-y: 60%;
    --tw-scale-z: 60%
}

.g123App .scale-60,.g123App .scale-75 {
    scale: var(--tw-scale-x)var(--tw-scale-y)
}

.g123App .scale-75 {
    --tw-scale-x: 75%;
    --tw-scale-y: 75%;
    --tw-scale-z: 75%
}

.g123App .scale-100 {
    --tw-scale-x: 100%;
    --tw-scale-y: 100%;
    --tw-scale-z: 100%
}

.g123App .scale-100,.g123App .scale-150 {
    scale: var(--tw-scale-x)var(--tw-scale-y)
}

.g123App .scale-150 {
    --tw-scale-x: 150%;
    --tw-scale-y: 150%;
    --tw-scale-z: 150%
}

.g123App .scale-\[0\.4\] {
    scale: .4
}

.g123App .scale-\[0\.67\] {
    scale: .67
}

.g123App .scale-\[0\.75\] {
    scale: .75
}

.g123App .scale-\[0\.85\] {
    scale: .85
}

.g123App .scale-\[1\.8\] {
    scale: 1.8
}

.g123App .scale-\[2\.5\] {
    scale: 2.5
}

.g123App .scale-\[2\] {
    scale: 2
}

.g123App .transform {
    transform: var(--tw-rotate-x)var(--tw-rotate-y)var(--tw-rotate-z)var(--tw-skew-x)var(--tw-skew-y)
}

.g123App .animate-bounce {
    animation: var(--animate-bounce)
}

.g123App .animate-fade-in-bottom {
    animation: var(--animate-fade-in-bottom)
}

.g123App .animate-fade-out-bottom {
    animation: var(--animate-fade-out-bottom)
}

.g123App .animate-slide-in-bottom {
    animation: var(--animate-slide-in-bottom)
}

.g123App .animate-slide-in-left {
    animation: var(--animate-slide-in-left)
}

.g123App .animate-spin {
    animation: var(--animate-spin)
}

.g123App .cursor-default {
    cursor: default
}

.g123App .cursor-not-allowed {
    cursor: not-allowed
}

.g123App .cursor-pointer {
    cursor: pointer
}

.g123App .cursor-wait {
    cursor: wait
}

.g123App .touch-none {
    touch-action: none
}

.g123App .resize {
    resize: both
}

.g123App .snap-x {
    scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.g123App .snap-mandatory {
    --tw-scroll-snap-strictness: mandatory
}

.g123App .snap-center {
    scroll-snap-align: center
}

.g123App .grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.g123App .flex-col {
    flex-direction: column
}

.g123App .flex-row {
    flex-direction: row
}

.g123App .flex-wrap {
    flex-wrap: wrap
}

.g123App .items-center {
    align-items: center
}

.g123App .items-start {
    align-items: flex-start
}

.g123App .justify-around {
    justify-content: space-around
}

.g123App .justify-between {
    justify-content: space-between
}

.g123App .justify-center {
    justify-content: center
}

.g123App .justify-end {
    justify-content: flex-end
}

.g123App .justify-evenly {
    justify-content: space-evenly
}

.g123App .justify-start {
    justify-content: flex-start
}

.g123App .gap-1\.5 {
    gap: calc(var(--spacing)*1.5)
}

.g123App .gap-2 {
    gap: calc(var(--spacing)*2)
}

.g123App .gap-2\.5 {
    gap: calc(var(--spacing)*2.5)
}

.g123App .gap-4 {
    gap: calc(var(--spacing)*4)
}

.g123App .gap-7 {
    gap: calc(var(--spacing)*7)
}

.g123App .gap-md {
    gap: var(--spacing-md)
}

.g123App .gap-x-0 {
    -moz-column-gap: calc(var(--spacing)*0);
    column-gap: calc(var(--spacing)*0)
}

.g123App .gap-x-0\.5 {
    -moz-column-gap: calc(var(--spacing)*.5);
    column-gap: calc(var(--spacing)*.5)
}

.g123App .gap-x-1 {
    -moz-column-gap: calc(var(--spacing)*1);
    column-gap: calc(var(--spacing)*1)
}

.g123App .gap-x-2 {
    -moz-column-gap: calc(var(--spacing)*2);
    column-gap: calc(var(--spacing)*2)
}

.g123App .gap-x-3 {
    -moz-column-gap: calc(var(--spacing)*3);
    column-gap: calc(var(--spacing)*3)
}

.g123App .gap-x-4 {
    -moz-column-gap: calc(var(--spacing)*4);
    column-gap: calc(var(--spacing)*4)
}

.g123App .gap-x-10 {
    -moz-column-gap: calc(var(--spacing)*10);
    column-gap: calc(var(--spacing)*10)
}

.g123App .gap-x-xs {
    -moz-column-gap: var(--spacing-xs);
    column-gap: var(--spacing-xs)
}

.g123App .gap-y-1\.5 {
    row-gap: calc(var(--spacing)*1.5)
}

.g123App .gap-y-2 {
    row-gap: calc(var(--spacing)*2)
}

.g123App .gap-y-4 {
    row-gap: calc(var(--spacing)*4)
}

.g123App .gap-y-8 {
    row-gap: calc(var(--spacing)*8)
}

.g123App .gap-y-12 {
    row-gap: calc(var(--spacing)*12)
}

.g123App .gap-y-xs {
    row-gap: var(--spacing-xs)
}

.g123App .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.g123App .overflow-hidden {
    overflow: hidden
}

.g123App .overflow-scroll {
    overflow: scroll
}

.g123App .overflow-visible {
    overflow: visible
}

.g123App .overflow-x-auto {
    overflow-x: auto
}

.g123App .overflow-x-scroll {
    overflow-x: scroll
}

.g123App .overflow-y-scroll {
    overflow-y: scroll
}

.g123App .scroll-smooth {
    scroll-behavior: smooth
}

.g123App .rounded {
    border-radius: .25rem
}

.g123App .rounded-2xl {
    border-radius: var(--radius-2xl)
}

.g123App .rounded-full {
    border-radius: 3.40282e+38px
}

.g123App .rounded-lg {
    border-radius: var(--radius-lg)
}

.g123App .rounded-md {
    border-radius: var(--radius-md)
}

.g123App .rounded-sm {
    border-radius: var(--radius-sm)
}

.g123App .rounded-xl {
    border-radius: var(--radius-xl)
}

.g123App .rounded-xs {
    border-radius: var(--radius-xs)
}

.g123App .rounded-t-lg {
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg)
}

.g123App .rounded-t-xl {
    border-top-left-radius: var(--radius-xl);
    border-top-right-radius: var(--radius-xl)
}

.g123App .rounded-b-none {
    border-bottom-right-radius: 0
}

.g123App .rounded-b-none,.g123App .rounded-bl-none {
    border-bottom-left-radius: 0
}

.g123App .border {
    border-style: var(--tw-border-style);
    border-width: 1px
}

.g123App .border-0 {
    border-style: var(--tw-border-style);
    border-width: 0
}

.g123App .border-2 {
    border-style: var(--tw-border-style);
    border-width: 2px
}

.g123App .border-\[1\.5px\] {
    border-style: var(--tw-border-style);
    border-width: 1.5px
}

.g123App .border-x-\[9px\] {
    border-inline-style:var(--tw-border-style);border-inline-width: 9px
}

.g123App .border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px
}

.g123App .border-t-\[18px\] {
    border-top-style: var(--tw-border-style);
    border-top-width: 18px
}

.g123App .border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px
}

.g123App .border-dashed {
    --tw-border-style: dashed;
    border-style: dashed
}

.g123App .border-none {
    --tw-border-style: none;
    border-style: none
}

.g123App .border-solid {
    --tw-border-style: solid;
    border-style: solid
}

.g123App .\!border-font-disabled {
    border-color: var(--color-font-disabled)!important
}

.g123App .border-black\/5 {
    border-color: #0000000d
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .border-black\/5 {
        border-color:color-mix(in oklab,var(--color-black)5%,transparent)
    }
}

.g123App .border-brand-tertiary-base {
    border-color: var(--color-brand-tertiary-base)
}

.g123App .border-gray-100 {
    border-color: var(--color-gray-100)
}

.g123App .border-info-disabled {
    border-color: var(--color-info-disabled)
}

.g123App .border-line-divider {
    border-color: var(--color-line-divider)
}

.g123App .border-surface-primary {
    border-color: var(--color-surface-primary)
}

.g123App .border-transparent {
    border-color: #0000
}

.g123App .border-x-transparent {
    border-inline-color:#0000}

.g123App .border-t-brand-neon-yellow {
    border-top-color: var(--color-brand-neon-yellow)
}

.g123App .\!bg-surface-primary {
    background-color: var(--color-surface-primary)!important
}

.g123App .bg-\[\#E6FF00\] {
    background-color: #e6ff00
}

.g123App .bg-\[\#F0F0F0\] {
    background-color: #f0f0f0
}

.g123App .bg-\[\#F5F5F5\] {
    background-color: #f5f5f5
}

.g123App .bg-\[\#eef6ef\] {
    background-color: #eef6ef
}

.g123App .bg-\[\#fafafa\] {
    background-color: #fafafa
}

.g123App .bg-\[rgba\(0\,0\,0\,0\.05\)\] {
    background-color: #0000000d
}

.g123App .bg-\[rgba\(255\,255\,255\,0\.96\)\] {
    background-color: #fffffff5
}

.g123App .bg-black\/30 {
    background-color: #0000004d
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .bg-black\/30 {
        background-color:color-mix(in oklab,var(--color-black)30%,transparent)
    }
}

.g123App .bg-black\/40 {
    background-color: #0006
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .bg-black\/40 {
        background-color:color-mix(in oklab,var(--color-black)40%,transparent)
    }
}

.g123App .bg-black\/50 {
    background-color: #00000080
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .bg-black\/50 {
        background-color:color-mix(in oklab,var(--color-black)50%,transparent)
    }
}

.g123App .bg-black\/60 {
    background-color: #0009
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .bg-black\/60 {
        background-color:color-mix(in oklab,var(--color-black)60%,transparent)
    }
}

.g123App .bg-blue-600 {
    background-color: var(--color-blue-600)
}

.g123App .bg-brand-neon-yellow {
    background-color: var(--color-brand-neon-yellow)
}

.g123App .bg-brand-primary-base {
    background-color: var(--color-brand-primary-base)
}

.g123App .bg-brand-primary-bg {
    background-color: var(--color-brand-primary-bg)
}

.g123App .bg-brand-secondary-base {
    background-color: var(--color-brand-secondary-base)
}

.g123App .bg-brand-secondary-bg {
    background-color: var(--color-brand-secondary-bg)
}

.g123App .bg-brand-tertiary-base {
    background-color: var(--color-brand-tertiary-base)
}

.g123App .bg-brand-tertiary-container {
    background-color: var(--color-brand-tertiary-container)
}

.g123App .bg-error-default {
    background-color: var(--color-error-default)
}

.g123App .bg-font-disabled {
    background-color: var(--color-font-disabled)
}

.g123App .bg-font-secondary {
    background-color: var(--color-font-secondary)
}

.g123App .bg-gray-300 {
    background-color: var(--color-gray-300)
}

.g123App .bg-info-bg {
    background-color: var(--color-info-bg)
}

.g123App .bg-info-default {
    background-color: var(--color-info-default)
}

.g123App .bg-neutral-3 {
    background-color: var(--color-neutral-3)
}

.g123App .bg-neutral-5\/30 {
    background-color: #bfbfbf4d
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .bg-neutral-5\/30 {
        background-color:color-mix(in oklab,var(--color-neutral-5)30%,transparent)
    }
}

.g123App .bg-neutral-100 {
    background-color: var(--color-neutral-100)
}

.g123App .bg-slate-600\/70 {
    background-color: #45556cb3
}

@supports (color: color-mix(in lab,red,red)) {
    .g123App .bg-slate-600\/70 {
        background-color:color-mix(in oklab,var(--color-slate-600)70%,transparent)
    }
}

.g123App .bg-success-bg {
    background-color: var(--color-success-bg)
}

.g123App .bg-success-default {
    background-color: var(--color-success-default)
}

.g123App .bg-surface-primary {
    background-color: var(--color-surface-primary)
}

.g123App .bg-surface-quaternary {
    background-color: var(--color-surface-quaternary)
}

.g123App .bg-surface-tertiary {
    background-color: var(--color-surface-tertiary)
}

.g123App .bg-transparent {
    background-color: #0000
}

.g123App .bg-white {
    background-color: var(--color-white)
}

.g123App .bg-contain {
    background-size: contain
}

.g123App .bg-center {
    background-position: 50%
}

.g123App .bg-no-repeat {
    background-repeat: no-repeat
}

.g123App .fill-\[\#3478F6\] {
    fill: #3478f6
}

.g123App .fill-current {
    fill: currentColor
}

.g123App .fill-font-primary {
    fill: var(--color-font-primary)
}

.g123App .\!p-0,.g123App .p-0\! {
    padding: calc(var(--spacing)*0)!important
}

.g123App .p-3 {
    padding: calc(var(--spacing)*3)
}

.g123App .p-4 {
    padding: calc(var(--spacing)*4)
}

.g123App .p-5 {
    padding: calc(var(--spacing)*5)
}

.g123App .p-6 {
    padding: calc(var(--spacing)*6)
}

.g123App .p-8 {
    padding: calc(var(--spacing)*8)
}

.g123App .p-\[0\.625rem\] {
    padding: .625rem
}

.g123App .p-xs {
    padding: var(--spacing-xs)
}

.g123App .\!px-1\.5 {
    padding-inline:calc(var(--spacing)*1.5)!important}

.g123App .\!px-4 {
    padding-inline: calc(var(--spacing)*4)!important
}

.g123App .px-0\.5 {
    padding-inline:calc(var(--spacing)*.5)}

.g123App .px-1 {
    padding-inline: calc(var(--spacing)*1)
}

.g123App .px-2 {
    padding-inline:calc(var(--spacing)*2)}

.g123App .px-3 {
    padding-inline: calc(var(--spacing)*3)
}

.g123App .px-4 {
    padding-inline:calc(var(--spacing)*4)}

.g123App .px-5 {
    padding-inline: calc(var(--spacing)*5)
}

.g123App .px-6 {
    padding-inline:calc(var(--spacing)*6)}

.g123App .px-8 {
    padding-inline: calc(var(--spacing)*8)
}

.g123App .px-10 {
    padding-inline:calc(var(--spacing)*10)}

.g123App .px-12\! {
    padding-inline: calc(var(--spacing)*12)!important
}

.g123App .px-\[3px\] {
    padding-inline:3px}

.g123App .px-lg {
    padding-inline:var(--spacing-lg)}

.g123App .px-md {
    padding-inline: var(--spacing-md)
}

.g123App .px-sm {
    padding-inline:var(--spacing-sm)}

.g123App .px-xl {
    padding-inline: var(--spacing-xl)
}

.g123App .px-xs {
    padding-inline:var(--spacing-xs)}

.g123App .\!py-2\.5 {
    padding-block: calc(var(--spacing)*2.5)!important
}

.g123App .\!py-3 {
    padding-block:calc(var(--spacing)*3)!important}

.g123App .py-0 {
    padding-block: calc(var(--spacing)*0)
}

.g123App .py-0\.5 {
    padding-block:calc(var(--spacing)*.5)}

.g123App .py-1 {
    padding-block: calc(var(--spacing)*1)
}

.g123App .py-2 {
    padding-block:calc(var(--spacing)*2)}

.g123App .py-3 {
    padding-block: calc(var(--spacing)*3)
}

.g123App .py-3\.5 {
    padding-block:calc(var(--spacing)*3.5)}

.g123App .py-4 {
    padding-block: calc(var(--spacing)*4)
}

.g123App .py-5 {
    padding-block:calc(var(--spacing)*5)}

.g123App .py-6 {
    padding-block: calc(var(--spacing)*6)
}

.g123App .py-6\! {
    padding-block:calc(var(--spacing)*6)!important}

.g123App .py-8 {
    padding-block: calc(var(--spacing)*8)
}

.g123App .py-\[13px\] {
    padding-block:13px}

.g123App .py-px {
    padding-block:1px}

.g123App .py-xs {
    padding-block:var(--spacing-xs)}

.g123App .py-xxs {
    padding-block: var(--spacing-xxs)
}

.g123App .pt-0 {
    padding-top: calc(var(--spacing)*0)
}

.g123App .pt-2 {
    padding-top: calc(var(--spacing)*2)
}

.g123App .pt-3 {
    padding-top: calc(var(--spacing)*3)
}

.g123App .pt-4 {
    padding-top: calc(var(--spacing)*4)
}

.g123App .pt-5 {
    padding-top: calc(var(--spacing)*5)
}

.g123App .pt-6 {
    padding-top: calc(var(--spacing)*6)
}

.g123App .pt-9 {
    padding-top: calc(var(--spacing)*9)
}

.g123App .pt-\[14px\] {
    padding-top: 14px
}

.g123App .pr-1\.5 {
    padding-right: calc(var(--spacing)*1.5)
}

.g123App .pr-2 {
    padding-right: calc(var(--spacing)*2)
}

.g123App .pr-\[0\.625rem\] {
    padding-right: .625rem
}

.g123App .pr-lg {
    padding-right: var(--spacing-lg)
}

.g123App .pb-3 {
    padding-bottom: calc(var(--spacing)*3)
}

.g123App .pb-4 {
    padding-bottom: calc(var(--spacing)*4)
}

.g123App .pb-5 {
    padding-bottom: calc(var(--spacing)*5)
}

.g123App .pb-6 {
    padding-bottom: calc(var(--spacing)*6)
}

.g123App .pb-\[1\.125rem\] {
    padding-bottom: 1.125rem
}

.g123App .pb-lg {
    padding-bottom: var(--spacing-lg)
}

.g123App .pl-0\.5 {
    padding-left: calc(var(--spacing)*.5)
}

.g123App .pl-1 {
    padding-left: calc(var(--spacing)*1)
}

.g123App .pl-2 {
    padding-left: calc(var(--spacing)*2)
}

.g123App .pl-4 {
    padding-left: calc(var(--spacing)*4)
}

.g123App .pl-\[16px\] {
    padding-left: 16px
}

.g123App .pl-md {
    padding-left: var(--spacing-md)
}

.g123App .text-center {
    text-align: center
}

.g123App .text-left {
    text-align: left
}

.g123App .font-secondary {
    font-family: var(--font-secondary)
}

.g123App .\!text-base {
    font-size: var(--text-base)!important
}

.g123App .\!text-sm {
    font-size: var(--text-sm)!important
}

.g123App .\!text-xl {
    font-size: var(--text-xl)!important
}

.g123App .text-base {
    font-size: var(--text-base)
}

.g123App .text-sm {
    font-size: var(--text-sm)
}

.g123App .text-xl {
    font-size: var(--text-xl)
}

.g123App .text-xs {
    font-size: var(--text-xs)
}

.g123App .text-xxs {
    font-size: var(--text-xxs)
}

.g123App .leading-4 {
    --tw-leading: calc(var(--spacing)*4);
    line-height: calc(var(--spacing)*4)
}

.g123App .leading-5 {
    --tw-leading: calc(var(--spacing)*5);
    line-height: calc(var(--spacing)*5)
}

.g123App .leading-6 {
    --tw-leading: calc(var(--spacing)*6);
    line-height: calc(var(--spacing)*6)
}

.g123App .leading-\[0\.875rem\] {
    --tw-leading: .875rem;
    line-height: .875rem
}

.g123App .leading-\[24px\] {
    --tw-leading: 24px;
    line-height: 24px
}

.g123App .leading-\[26px\] {
    --tw-leading: 26px;
    line-height: 26px
}

.g123App .leading-none {
    --tw-leading: 1;
    line-height: 1
}

.g123App .leading-snug {
    --tw-leading: var(--leading-snug);
    line-height: var(--leading-snug)
}

.g123App .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold)
}

.g123App .font-extrabold {
    --tw-font-weight: var(--font-weight-extrabold);
    font-weight: var(--font-weight-extrabold)
}

.g123App .font-light {
    --tw-font-weight: var(--font-weight-light);
    font-weight: var(--font-weight-light)
}

.g123App .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium)
}

.g123App .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal)
}

.g123App .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold)
}

.g123App .break-words {
    overflow-wrap: break-word
}

.g123App .whitespace-nowrap {
    white-space: nowrap
}

.g123App .whitespace-pre-wrap {
    white-space: pre-wrap
}

.g123App .\!text-font-disabled {
    color: var(--color-font-disabled)!important
}

.g123App .\!text-font-primary {
    color: var(--color-font-primary)!important
}

.g123App .text-\[\#1C64F2\] {
    color: #1c64f2
}

.g123App .text-\[\#666\] {
    color: #666
}

.g123App .text-\[\#A5A5A7\] {
    color: #a5a5a7
}

.g123App .text-black {
    color: var(--color-black)
}

.g123App .text-brand-black {
    color: var(--color-brand-black)
}

.g123App .text-brand-secondary-base {
    color: var(--color-brand-secondary-base)
}

.g123App .text-brand-tertiary-base {
    color: var(--color-brand-tertiary-base)
}

.g123App .text-character-primary {
    color: var(--color-character-primary)
}

.g123App .text-character-secondary {
    color: var(--color-character-secondary)
}

.g123App .text-error-default {
    color: var(--color-error-default)
}

.g123App .text-font-overlay {
    color: var(--color-font-overlay)
}

.g123App .text-font-primary {
    color: var(--color-font-primary)
}

.g123App .text-font-secondary {
    color: var(--color-font-secondary)
}

.g123App .text-info-default {
    color: var(--color-info-default)
}

.g123App .text-link-default {
    color: var(--color-link-default)
}

.g123App .text-link-disabled {
    color: var(--color-link-disabled)
}

.g123App .text-neutral-6 {
    color: var(--color-neutral-6)
}

.g123App .text-neutral-400 {
    color: var(--color-neutral-400)
}

.g123App .text-neutral-800 {
    color: var(--color-neutral-800)
}

.g123App .text-success-default {
    color: var(--color-success-default)
}

.g123App .text-surface-primary {
    color: var(--color-surface-primary)
}

.g123App .text-teal-700 {
    color: var(--color-teal-700)
}

.g123App .text-transparent {
    color: #0000
}

.g123App .text-white {
    color: var(--color-white)
}

.g123App .lowercase {
    text-transform: lowercase
}

.g123App .uppercase {
    text-transform: uppercase
}

.g123App .not-italic {
    font-style: normal
}

.g123App .no-underline {
    text-decoration-line: none
}

.g123App .underline {
    text-decoration-line: underline
}

.g123App .opacity-0 {
    opacity: 0
}

.g123App .opacity-40 {
    opacity: .4
}

.g123App .opacity-50 {
    opacity: .5
}

.g123App .opacity-100 {
    opacity: 1
}

.g123App .shadow-\[0_-4px_6px_-1px_rgba\(0\,0\,0\,0\.1\)\,_-4px_0_6px_-1px_rgba\(0\,0\,0\,0\.1\)\,_4px_0_6px_-1px_rgba\(0\,0\,0\,0\.1\)\] {
    --tw-shadow: 0 -4px 6px -1px var(--tw-shadow-color,#0000001a),-4px 0 6px -1px var(--tw-shadow-color,#0000001a),4px 0 6px -1px var(--tw-shadow-color,#0000001a);
    box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

.g123App .shadow-\[0px_0px_30px_0px_rgba\(0\,0\,0\,0\.05\)\] {
    --tw-shadow: 0px 0px 30px 0px var(--tw-shadow-color,#0000000d)
}

.g123App .shadow-\[0px_0px_30px_0px_rgba\(0\,0\,0\,0\.05\)\],.g123App .shadow-card {
    box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

.g123App .shadow-card {
    --tw-shadow: 0px 16px 32px var(--tw-shadow-color,#0000000a),0px 8px 16px var(--tw-shadow-color,#00000014)
}

.g123App .shadow-lg {
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color,#0000001a),0 4px 6px -4px var(--tw-shadow-color,#0000001a)
}

.g123App .shadow-lg,.g123App .shadow-md {
    box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

.g123App .shadow-md {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color,#0000001a),0 2px 4px -2px var(--tw-shadow-color,#0000001a)
}

.g123App .outline-hidden {
    --tw-outline-style: none;
    outline-style: none
}

@media (forced-colors:active) {
    .g123App .outline-hidden {
        outline: 2px solid #0000;
        outline-offset: 2px
    }
}

.g123App .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px
}

.g123App .drop-shadow-xl {
    --tw-drop-shadow-size: drop-shadow(0 9px 7px var(--tw-drop-shadow-color,#0000001a));
    --tw-drop-shadow: drop-shadow(var(--drop-shadow-xl))
}

.g123App .drop-shadow-xl,.g123App .filter {
    filter: var(--tw-blur,)var(--tw-brightness,)var(--tw-contrast,)var(--tw-grayscale,)var(--tw-hue-rotate,)var(--tw-invert,)var(--tw-saturate,)var(--tw-sepia,)var(--tw-drop-shadow,)
}

.g123App .transition {
    transition-duration: var(--tw-duration,var(--default-transition-duration));
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,--tw-gradient-from,--tw-gradient-via,--tw-gradient-to,opacity,box-shadow,transform,translate,scale,rotate,filter,-webkit-backdrop-filter,backdrop-filter;
    transition-timing-function: var(--tw-ease,var(--default-transition-timing-function))
}

.g123App .transition-all {
    transition-duration: var(--tw-duration,var(--default-transition-duration));
    transition-property: all;
    transition-timing-function: var(--tw-ease,var(--default-transition-timing-function))
}

.g123App .transition-opacity {
    transition-duration: var(--tw-duration,var(--default-transition-duration));
    transition-property: opacity;
    transition-timing-function: var(--tw-ease,var(--default-transition-timing-function))
}

.g123App .duration-300 {
    --tw-duration: .3s;
    transition-duration: .3s
}

.g123App .duration-1500 {
    --tw-duration: 1.5s;
    transition-duration: 1.5s
}

.g123App .ease-in {
    --tw-ease: var(--ease-in);
    transition-timing-function: var(--ease-in)
}

.g123App .ease-in-out {
    --tw-ease: var(--ease-in-out);
    transition-timing-function: var(--ease-in-out)
}

.g123App .ease-out {
    --tw-ease: var(--ease-out);
    transition-timing-function: var(--ease-out)
}

.g123App .will-change-transform {
    will-change: transform
}

.g123App .outline-none {
    --tw-outline-style: none;
    outline-style: none
}

.g123App .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.g123App .first\:ml-0:first-child {
    margin-left: calc(var(--spacing)*0)
}

.g123App .last\:mr-0:last-child {
    margin-right: calc(var(--spacing)*0)
}

@media (hover: hover) {
    .g123App .hover\:bg-brand-gray-100:hover {
        background-color:var(--color-brand-gray-100)
    }

    .g123App .hover\:bg-brand-primary-container:hover {
        background-color: var(--color-brand-primary-container)
    }

    .g123App .hover\:bg-error-disabled:hover {
        background-color: var(--color-error-disabled)
    }

    .g123App .hover\:bg-font-secondary:hover {
        background-color: var(--color-font-secondary)
    }

    .g123App .hover\:bg-neutral-3:hover {
        background-color: var(--color-neutral-3)
    }

    .g123App .hover\:bg-surface-tertiary:hover {
        background-color: var(--color-surface-tertiary)
    }

    .g123App .hover\:text-brand-secondary-secondary:hover {
        color: var(--color-brand-secondary-secondary)
    }

    .g123App .hover\:opacity-60:hover {
        opacity: .6
    }

    .g123App .hover\:opacity-90:hover {
        opacity: .9
    }
}

.g123App .active\:bg-brand-primary-secondary:active {
    background-color: var(--color-brand-primary-secondary)
}

.g123App .active\:bg-error-disabled:active {
    background-color: var(--color-error-disabled)
}

.g123App .active\:bg-font-disabled:active {
    background-color: var(--color-font-disabled)
}

.g123App .active\:bg-font-secondary:active {
    background-color: var(--color-font-secondary)
}

.g123App .active\:bg-surface-tertiary:active {
    background-color: var(--color-surface-tertiary)
}

.g123App .active\:text-brand-secondary-base:active {
    color: var(--color-brand-secondary-base)
}

.g123App .active\:text-brand-secondary-secondary:active {
    color: var(--color-brand-secondary-secondary)
}

@media (min-width: 40rem) {
    .g123App .sm\:top-\[20px\] {
        top:20px
    }

    .g123App .sm\:right-\[20px\] {
        right: 20px
    }

    .g123App .sm\:left-auto {
        left: auto
    }

    .g123App .sm\:mb-8 {
        margin-bottom: calc(var(--spacing)*8)
    }

    .g123App .sm\:size-24 {
        height: calc(var(--spacing)*24);
        width: calc(var(--spacing)*24)
    }

    .g123App .sm\:h-6 {
        height: calc(var(--spacing)*6)
    }

    .g123App .sm\:h-8 {
        height: calc(var(--spacing)*8)
    }

    .g123App .sm\:w-7\/12 {
        width: 58.3333%
    }

    .g123App .sm\:w-8 {
        width: calc(var(--spacing)*8)
    }

    .g123App .sm\:w-14 {
        width: calc(var(--spacing)*14)
    }

    .g123App .sm\:w-\[375px\] {
        width: 375px
    }

    .g123App .sm\:min-w-fit {
        min-width: -moz-fit-content;
        min-width: fit-content
    }

    .g123App .sm\:grid-cols-5 {
        grid-template-columns: repeat(5,minmax(0,1fr))
    }

    .g123App .sm\:gap-2 {
        gap: calc(var(--spacing)*2)
    }

    .g123App .sm\:gap-4 {
        gap: calc(var(--spacing)*4)
    }

    .g123App .sm\:gap-6 {
        gap: calc(var(--spacing)*6)
    }

    .g123App .sm\:gap-8 {
        gap: calc(var(--spacing)*8)
    }

    .g123App .sm\:border-b {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px
    }

    .g123App .sm\:border-solid {
        --tw-border-style: solid;
        border-style: solid
    }

    .g123App .sm\:border-brand-gray-100 {
        border-color: var(--color-brand-gray-100)
    }

    .g123App .sm\:bg-brand-neon-yellow\/\[0\.16\] {
        background-color: #d7f32c29
    }

    @supports (color: color-mix(in lab,red,red)) {
        .g123App .sm\:bg-brand-neon-yellow\/\[0\.16\] {
            background-color:color-mix(in oklab,var(--color-brand-neon-yellow)16%,transparent)
        }
    }

    .g123App .sm\:px-0 {
        padding-inline:calc(var(--spacing)*0)}

    .g123App .sm\: px-20 {
        padding-inline:calc(var(--spacing)*20)
    }

    .g123App .sm\:py-5 {
        padding-block:calc(var(--spacing)*5)}

    .g123App .sm\: text-2xl {
        font-size:var(--text-2xl)
    }

    .g123App .sm\:text-base {
        font-size: var(--text-base)
    }

    .g123App .sm\:text-sm {
        font-size: var(--text-sm)
    }

    .g123App .sm\:text-xl {
        font-size: var(--text-xl)
    }

    .g123App .sm\:leading-6 {
        --tw-leading: calc(var(--spacing)*6);
        line-height: calc(var(--spacing)*6)
    }

    .g123App .sm\:leading-8 {
        --tw-leading: calc(var(--spacing)*8);
        line-height: calc(var(--spacing)*8)
    }
}

@media (min-width: 48rem) {
    .g123App .md\:w-auto {
        width:auto
    }

    .g123App .md\:min-w-\[360px\] {
        min-width: 360px
    }
}

.g123App .dark\:\!border-font-secondary:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    border-color: var(--color-font-secondary)!important
}

.g123App .dark\:border-font-overlay:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    border-color: var(--color-font-overlay)
}

.g123App .dark\:\!bg-neutral-7:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    background-color: var(--color-neutral-7)!important
}

.g123App .dark\:\!bg-neutral-8:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    background-color: var(--color-neutral-8)!important
}

.g123App .dark\:bg-font-secondary:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    background-color: var(--color-font-secondary)
}

.g123App .dark\:bg-neutral-0:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    background-color: var(--color-neutral-0)
}

.g123App .dark\:bg-neutral-7:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    background-color: var(--color-neutral-7)
}

.g123App .dark\:\!text-font-overlay:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    color: var(--color-font-overlay)!important
}

.g123App .dark\:\!text-font-secondary:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    color: var(--color-font-secondary)!important
}

.g123App .dark\:text-brand-secondary-secondary:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    color: var(--color-brand-secondary-secondary)
}

.g123App .dark\:text-font-overlay:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    color: var(--color-font-overlay)
}

.g123App .dark\:text-font-primary:where([data-mode=g123-dark],[data-mode=g123-dark] *) {
    color: var(--color-font-primary)
}

@media (hover: hover) {
    .g123App .dark\:hover\:border-neutral-3:where([data-mode=g123-dark],[data-mode=g123-dark] *):hover {
        border-color:var(--color-neutral-3)
    }

    .g123App .dark\:hover\:bg-neutral-3:where([data-mode=g123-dark],[data-mode=g123-dark] *):hover {
        background-color: var(--color-neutral-3)
    }

    .g123App .dark\:hover\:bg-neutral-6:where([data-mode=g123-dark],[data-mode=g123-dark] *):hover {
        background-color: var(--color-neutral-6)
    }

    .g123App .dark\:hover\:text-brand-secondary-container:where([data-mode=g123-dark],[data-mode=g123-dark] *):hover {
        color: var(--color-brand-secondary-container)
    }
}

.g123App .dark\:active\:bg-neutral-5:where([data-mode=g123-dark],[data-mode=g123-dark] *):active {
    background-color: var(--color-neutral-5)
}

@property --tw-translate-x {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-translate-y {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-translate-z {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --tw-scale-x {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --tw-scale-y {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --tw-scale-z {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --tw-rotate-x {
    syntax: "*";
    inherits: false;
    initial-value: rotateX(0)
}

@property --tw-rotate-y {
    syntax: "*";
    inherits: false;
    initial-value: rotateY(0)
}

@property --tw-rotate-z {
    syntax: "*";
    inherits: false;
    initial-value: rotateZ(0)
}

@property --tw-skew-x {
    syntax: "*";
    inherits: false;
    initial-value: skewX(0)
}

@property --tw-skew-y {
    syntax: "*";
    inherits: false;
    initial-value: skewY(0)
}

@property --tw-scroll-snap-strictness {
    syntax: "*";
    inherits: false;
    initial-value: proximity
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@property --tw-leading {
    syntax: "*";
    inherits: false
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false
}

@property --tw-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-shadow-alpha {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%
}

@property --tw-inset-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-inset-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-inset-shadow-alpha {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%
}

@property --tw-ring-color {
    syntax: "*";
    inherits: false
}

@property --tw-ring-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-inset-ring-color {
    syntax: "*";
    inherits: false
}

@property --tw-inset-ring-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-ring-inset {
    syntax: "*";
    inherits: false
}

@property --tw-ring-offset-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

@property --tw-ring-offset-color {
    syntax: "*";
    inherits: false;
    initial-value: #fff
}

@property --tw-ring-offset-shadow {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000
}

@property --tw-outline-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@property --tw-blur {
    syntax: "*";
    inherits: false
}

@property --tw-brightness {
    syntax: "*";
    inherits: false
}

@property --tw-contrast {
    syntax: "*";
    inherits: false
}

@property --tw-grayscale {
    syntax: "*";
    inherits: false
}

@property --tw-hue-rotate {
    syntax: "*";
    inherits: false
}

@property --tw-invert {
    syntax: "*";
    inherits: false
}

@property --tw-opacity {
    syntax: "*";
    inherits: false
}

@property --tw-saturate {
    syntax: "*";
    inherits: false
}

@property --tw-sepia {
    syntax: "*";
    inherits: false
}

@property --tw-drop-shadow {
    syntax: "*";
    inherits: false
}

@property --tw-drop-shadow-color {
    syntax: "*";
    inherits: false
}

@property --tw-drop-shadow-alpha {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%
}

@property --tw-drop-shadow-size {
    syntax: "*";
    inherits: false
}

@property --tw-duration {
    syntax: "*";
    inherits: false
}

@property --tw-ease {
    syntax: "*";
    inherits: false
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes bounce {
    0%,to {
        animation-timing-function: cubic-bezier(.8,0,1,1);
        transform: translateY(-25%)
    }

    50% {
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: none
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-backdrop-filter: blur();
        opacity: 0;
        transform: translateY(10px)
    }

    to {
        -webkit-backdrop-filter: blur(8px);
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fade-out-bottom {
    0% {
        -webkit-backdrop-filter: blur(8px);
        opacity: 1;
        transform: translateY(0)
    }

    to {
        -webkit-backdrop-filter: blur();
        opacity: 0;
        transform: translateY(10px)
    }
}

@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translate(-100%)
    }

    to {
        opacity: 1;
        transform: translate(0)
    }
}
